.btn--default {
  margin-top: 20px;
  background-color: $primary-background;
  color: $secondary-color;
  @include button;
  @include rounded;
}


.btn--success {
  background-color: green;
  color: $secondary-color;
}

.btn--error {
  background-color: rgb(244, 6, 184);
  color: $secondary-color;
}

.btn--warning {
  background-color: red;
  color: $secondary-color;
}

.btn--info {
  background-color: rgb(92, 90, 126);
  color: $secondary-color;
}

.theme__colors {
  @include button;
  font-size: 1.3em;
  font-weight: bold;
  @include rounded;
  width: 90%;
  align-self: center;
}
