.btn--default {
  margin-top: 20px;
  background-color: $primary-background;
  color: $secondary-color;
  @include button;
  @include rounded;
  @include desktop {
    margin-top: 0;
  }
}


.btn--success {
  background-color: lighten(green, 10%);
  color: $secondary-color;
}

.btn--error {
  background-color: lighten(rgb(244, 6, 184), 10%);
  color: $secondary-color;
}

.btn--warning {
  background-color: lighten(red, 10%);
  color: $secondary-color;
}

.btn--info {
  background-color: lighten(rgb(92, 90, 126), 10%);
  color: $secondary-color;
}

.theme__colors {
  @include button;
  font-size: 1.3em;
  font-weight: bold;
  @include rounded;
  width: 90%;
  align-self: center;
  @include desktop {
    margin: 0 35px;
  }
}
