.form {
  @include flexy;
}

.form__label--hidden {
  visibility: hidden;
}

.form__input {
  border: none;
  border-bottom: $primary-background 5px solid;
  font-weight: bold;
  padding: 10px;
  @include desktop {
    align-self: center;
  }
}
