// Flexbox
.container {
  width: 90%;
  margin: auto;
}

.grid__row {
  @include flexy;
  margin-top: 45px;
  &.theme__colors {
    width: 90%;
    color: $primary-color;
  }
  @include desktop {
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.grid__col--2 {

}

.grid__col--3 {
  align-self: center;
  &.theme__colors{
  background-color: lightgrey;
  color: $primary-color;
  @include gridcol;
  }
}

.grid__col--4 {
  margin-top: 15px;
  &.theme__colors {
  background-color: rgba($primary-background, 0.6);
  color: $primary-color;
  @include gridcol;
  }
  @include desktop {
    flex-basis: 33%;
    @include flexy($dir: column);
    button {
      margin-top: 20px;
    }
  }
}

.grid__col--5 {
  @include button;
  background-color: rgba(green, 0.6);
  color: $primary-color;
  @include gridcol;
  @include desktop {
    flex-basis: 33%;
  }
}

.grid__col--6 {
  @include flexy;
  &.theme__colors {
  background-color: rgba($primary-background, 0.6);
  color: $primary-color;
  @include gridcol;
  @include desktop {
    align-self: center;
    img {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  }
}

.grid__col--7 {
  background-color: darken(pink, 5%);
  color: $primary-color;
  @include gridcol;
  @include desktop {
    flex-basis: 66%;
  }
}
.grid__col--8 {
  &.theme__colors {
    @include button;
    background-color: rgba(244, 6, 184, 0.6);
    color: $primary-color;
    @include gridcol;
  }
  @include desktop {

    flex-basis: 66%;
  }
}

.grid__col--9 {
  @include desktop {
    width: 50%;
    justify-content: space-between;
    font-size: 1.2em;
    padding-right: 10%;
    align-self: center;
  }

}

.grid__col--10 {

}

.grid__col--11 {

}

.grid__col--12 {
  @include flexy;
  &.theme__colors {
  background-color: rgba($primary-background, 0.4);
  color: $primary-color;
  @include button;
  @include gridcol;
  }
  button {
    margin-bottom: 15px;
  }
  @include desktop {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.centered {

}
