.nav__item {
  margin: auto;
  width: 90%;
  list-style-type: none;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

  a {
    text-decoration: none;
    color: black;
  }
  &:hover {
    background-color: $primary-background;
    @include rounded;
    a {
      color: $secondary-color;
    }
  }
  @include desktop {
    width: auto;
    a {
      color: $primary-color;
  }
  }
}
