.nav__item {
  margin: auto;
  width: 90%;
  list-style-type: none;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: black;

  a {
    text-decoration: none;
    color: black;
  }
  &:active {
    background-color: $primary-background;
    color: $secondary-color;
    @include rounded;
  }

}
