// Only use present Elements

* {
  margin: 5px;
}

ul {
  @include desktop {
    @include flexy;
    flex-direction: row;
  }
}

p {
  font-family: $primary-font;
  color: $primary-color;
  width: 90%;
  margin: auto;
}
